anyascii==0.3.2 ; python_version >= "3.12"
anyio==4.7.0 ; python_version >= "3.12"
asgiref==3.8.1 ; python_version >= "3.12"
attrs==24.2.0 ; python_version >= "3.12"
beautifulsoup4==4.13.3 ; python_version >= "3.12"
boto3==1.37.21 ; python_version >= "3.12"
botocore==1.37.21 ; python_version >= "3.12"
certifi==2024.8.30 ; python_version >= "3.12"
cffi==1.17.1 ; python_version >= "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.12"
chromedriver-autoinstaller==0.6.4 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12"
crypto==1.4.1 ; python_version >= "3.12"
cryptography==44.0.0 ; python_version >= "3.12"
defusedxml==0.7.1 ; python_version >= "3.12"
django-cors-headers==4.7.0 ; python_version >= "3.12"
django-filter==25.1 ; python_version >= "3.12"
django-modelcluster==6.4 ; python_version >= "3.12"
django-permissionedforms==0.1 ; python_version >= "3.12"
django-phonenumber-field==8.0.0 ; python_version >= "3.12"
django-phonenumbers==1.0.1 ; python_version >= "3.12"
django-storages==1.14.5 ; python_version >= "3.12"
django-stubs-ext==5.1.3 ; python_version >= "3.12"
django-taggit==6.1.0 ; python_version >= "3.12"
django-tasks==0.6.1 ; python_version >= "3.12"
django-treebeard==4.7.1 ; python_version >= "3.12"
django==5.1.7 ; python_version >= "3.12"
djangorestframework-simplejwt==5.5.0 ; python_version >= "3.12"
djangorestframework==3.15.2 ; python_version >= "3.12"
dnspython==2.7.0 ; python_version >= "3.12"
docutils==0.21.2 ; python_version >= "3.12"
draftjs-exporter==5.1.0 ; python_version >= "3.12"
email-validator==2.2.0 ; python_version >= "3.12"
et-xmlfile==2.0.0 ; python_version >= "3.12"
filetype==1.2.0 ; python_version >= "3.12"
h11==0.14.0 ; python_version >= "3.12"
httpcore==1.0.7 ; python_version >= "3.12"
httpx==0.28.1 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
iniconfig==2.0.0 ; python_version >= "3.12"
jalali-core==1.0.0 ; python_version >= "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.12"
jaraco-context==6.0.1 ; python_version >= "3.12"
jaraco-functools==4.1.0 ; python_version >= "3.12"
jdatetime==5.2.0 ; python_version >= "3.12"
jeepney==0.9.0 ; python_version >= "3.12" and sys_platform == "linux"
jmespath==1.0.1 ; python_version >= "3.12"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12"
jsonschema==4.23.0 ; python_version >= "3.12"
keyring==25.6.0 ; python_version >= "3.12"
laces==0.1.2 ; python_version >= "3.12"
logging==0.4.9.6 ; python_version >= "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
more-itertools==10.5.0 ; python_version >= "3.12"
naked==0.1.32 ; python_version >= "3.12"
nh3==0.2.20 ; python_version >= "3.12"
openpyxl==3.1.5 ; python_version >= "3.12"
outcome==1.3.0.post0 ; python_version >= "3.12"
packaging==24.2 ; python_version >= "3.12"
phonenumbers==9.0.1 ; python_version >= "3.12"
pillow-heif==0.22.0 ; python_version >= "3.12"
pillow==11.1.0 ; python_version >= "3.12"
pkginfo==1.12.0 ; python_version >= "3.12"
pluggy==1.5.0 ; python_version >= "3.12"
psutil==6.1.0 ; python_version >= "3.12"
psycopg2-binary==2.9.10 ; python_version >= "3.12"
pycparser==2.22 ; python_version >= "3.12"
pycryptodome==3.21.0 ; python_version >= "3.12"
pygments==2.19.1 ; python_version >= "3.12"
pyjwt==2.9.0 ; python_version >= "3.12"
pyotp==2.9.0 ; python_version >= "3.12"
pyperclip==1.9.0 ; python_version >= "3.12"
pysocks==1.7.1 ; python_version >= "3.12"
pytest-order==1.3.0 ; python_version >= "3.12"
pytest==8.3.4 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-dotenv==1.0.1 ; python_version >= "3.12"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.12"
readme-renderer==44.0 ; python_version >= "3.12"
referencing==0.35.1 ; python_version >= "3.12"
requests-mock==1.12.1 ; python_version >= "3.12"
requests-pkcs12==1.25 ; python_version >= "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.12"
requests==2.32.3 ; python_version >= "3.12"
responses==0.25.3 ; python_version >= "3.12"
rfc3986==2.0.0 ; python_version >= "3.12"
rich==13.9.4 ; python_version >= "3.12"
rpds-py==0.20.0 ; python_version >= "3.12"
s3transfer==0.11.4 ; python_version >= "3.12"
secretstorage==3.3.3 ; python_version >= "3.12" and sys_platform == "linux"
selenium==4.27.1 ; python_version >= "3.12"
setuptools==75.8.0 ; python_version >= "3.12"
shellescape==3.8.1 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sniffio==1.3.1 ; python_version >= "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.12"
soupsieve==2.6 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
telepath==0.3.1 ; python_version >= "3.12"
trio-websocket==0.11.1 ; python_version >= "3.12"
trio==0.27.0 ; python_version >= "3.12"
twine==6.0.1 ; python_version >= "3.12"
typing-extensions==4.12.2 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
urllib3==2.2.3 ; python_version >= "3.12"
wagtail-modeladmin==2.1.0 ; python_version >= "3.12"
wagtail==6.4.1 ; python_version >= "3.12"
webdriver-manager==4.0.2 ; python_version >= "3.12"
websocket-client==1.8.0 ; python_version >= "3.12"
wheel==0.45.1 ; python_version >= "3.12"
willow==1.9.0 ; python_version >= "3.12"
wsproto==1.2.0 ; python_version >= "3.12"
zarinpal-py-sdk==0.1.0 ; python_version >= "3.12"
