{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block title %}Blog - Derakht{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">{{ page.title }}</h1>
        <div class="intro mb-5">{{ page.intro|richtext }}</div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for post in page.get_children.live.specific %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        {% with post.main_image as main_image %}
                            {% if main_image %}
                                {% image post.main_image fill-300x200 as img %}
                                <img src="{{ img.url }}" alt="{{ post.title }}" class="card-img-top">
                            {% endif %}
                        {% endwith %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text text-muted small">{{ post.date|date:"F j, Y" }}</p>
                            <p class="card-text">{{ post.intro|truncatewords:30 }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a href="{% pageurl post %}" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
